ul.fallDown ul{
	display:none;
}
ul.fallDown li:hover > ul{
	display:block;
	color:gray;

}
div:hover{
	text-decoration:underline;
}
ul{
	list-style-type:none;
}
div{
	width:80px;
}
ul{
	width:80px;
}