<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="CodeDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CodeDb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="CodeDb" connectionString="Server=98b1d9a1-5ece-4e24-ae76-a21d00af0efa.sqlserver.sequelizer.com;Database=db98b1d9a15ece4e24ae76a21d00af0efa;User ID=ugyydzafothrpbvp;Password=mH2QKHkHoiqZVS2aHUjNYTcMps7FyiP7uaXXnhroewSaLjzX2pfXZkVAFozrJMie;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>