USE [master]
GO
/****** Object:  Database [DictonaryDB]    Script Date: 7/12/2013 11:42:20 PM ******/
CREATE DATABASE [DictonaryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DictonaryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DictonaryDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DictonaryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DictonaryDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DictonaryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DictonaryDB]
GO
/****** Object:  Table [dbo].[Antonym]    Script Date: 7/12/2013 11:42:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Antonym](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Antomym_To_Word_Id] [int] NOT NULL,
 CONSTRAINT [PK_Antonym] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Langugaes]    Script Date: 7/12/2013 11:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Langugaes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Langugaes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MultilingualDictonary]    Script Date: 7/12/2013 11:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MultilingualDictonary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word_Id] [int] NOT NULL,
 CONSTRAINT [PK_MultilingualDictonary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Synonyms]    Script Date: 7/12/2013 11:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Synonyms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Synonym_To_Word_Id] [int] NULL,
 CONSTRAINT [PK_Synonyms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Translations]    Script Date: 7/12/2013 11:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Translation_To_Word_Id] [int] NOT NULL,
 CONSTRAINT [PK_Translations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Words]    Script Date: 7/12/2013 11:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Languge_Id] [int] NOT NULL,
	[Synonym_Id] [int] NOT NULL,
	[Antonym_Id] [int] NOT NULL,
	[Explanation] [text] NOT NULL,
	[Translation_Id] [int] NOT NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Antonym]  WITH CHECK ADD  CONSTRAINT [FK_Antonym_MultilingualDictonary] FOREIGN KEY([Antomym_To_Word_Id])
REFERENCES [dbo].[MultilingualDictonary] ([Id])
GO
ALTER TABLE [dbo].[Antonym] CHECK CONSTRAINT [FK_Antonym_MultilingualDictonary]
GO
ALTER TABLE [dbo].[MultilingualDictonary]  WITH CHECK ADD  CONSTRAINT [FK_MultilingualDictonary_Words] FOREIGN KEY([Word_Id])
REFERENCES [dbo].[Words] ([Id])
GO
ALTER TABLE [dbo].[MultilingualDictonary] CHECK CONSTRAINT [FK_MultilingualDictonary_Words]
GO
ALTER TABLE [dbo].[Synonyms]  WITH CHECK ADD  CONSTRAINT [FK_Synonyms_MultilingualDictonary] FOREIGN KEY([Synonym_To_Word_Id])
REFERENCES [dbo].[MultilingualDictonary] ([Id])
GO
ALTER TABLE [dbo].[Synonyms] CHECK CONSTRAINT [FK_Synonyms_MultilingualDictonary]
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_MultilingualDictonary] FOREIGN KEY([Translation_To_Word_Id])
REFERENCES [dbo].[MultilingualDictonary] ([Id])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_MultilingualDictonary]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Antonym] FOREIGN KEY([Antonym_Id])
REFERENCES [dbo].[Antonym] ([Id])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Antonym]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Langugaes] FOREIGN KEY([Languge_Id])
REFERENCES [dbo].[Langugaes] ([Id])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Langugaes]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Synonyms] FOREIGN KEY([Synonym_Id])
REFERENCES [dbo].[Synonyms] ([Id])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Synonyms]
GO
ALTER TABLE [dbo].[Words]  WITH CHECK ADD  CONSTRAINT [FK_Words_Translations] FOREIGN KEY([Translation_Id])
REFERENCES [dbo].[Translations] ([Id])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_Translations]
GO
USE [master]
GO
