<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Document_IO_Operations.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ReadExcel.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ReadExcel.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Document_IO_Operations.Settings>
      <setting name="zipString" serializeAs="String">
        <value>../../../../ReadingFiles/Sample-Sales-Reports.zip</value>
      </setting>
      <setting name="extractString" serializeAs="String">
        <value>../../../../WritingFiles/Sample-Sales-Reports</value>
      </setting>
      <setting name="sqlConnection" serializeAs="String">
        <value>Server=192.168.193.25\SQLExpress;Database=Supermarket;User Id=student;
Password=student;</value>
      </setting>
      <setting name="excelString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};
Extended Properties="Excel 8.0;HDR=YES";</value>
      </setting>
    </Document_IO_Operations.Settings>
    <ReadExcel.Settings>
      <setting name="zipString" serializeAs="String">
        <value>../../Sample-Sales-Reports.zip</value>
      </setting>
      <setting name="extractString" serializeAs="String">
        <value>../../Sample-Sales-Reports</value>
      </setting>
      <setting name="sqlConnection" serializeAs="String">
        <value>Server=192.168.193.25\SQLExpress;Database=Supermarket;User Id=student;
Password=student;</value>
      </setting>
      <setting name="excelString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};
Extended Properties="Excel 8.0;HDR=YES";</value>
      </setting>
    </ReadExcel.Settings>
    <ReadExcel.Settings1>
      <setting name="zipString" serializeAs="String">
        <value>..//..//Sample-Sales-Reports.zip</value>
      </setting>
    </ReadExcel.Settings1>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="MySqlSupermarketConnection" connectionString="server=192.168.193.25;user id=student;password=student;persist security info=True;database=supermarket" providerName="MySql.Data.MySqlClient" />
    <add name="SuperMarketEntities" connectionString="metadata=res://*/Supermarket.Model.csdl|res://*/Supermarket.Model.ssdl|res://*/Supermarket.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACADEMYPCU-09\SQLEXPRESS;initial catalog=SuperMarket;persist security info=True;user id=student;password=student;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>