thead{background-color:#5CC15E;color:white}
tr#bannana{background-color:#FCF9A0}
td,th{border-right:1px solid #CECDB2;padding:13px;text-align:left}
th{border:2px solid #CECDB2;border-spacing:5px;width:100px;}
table{border-collapse:collapse;border:1px solid #CECDB2}
img{height:30px;float:left;margin-right:5px}
